[Desktop Entry]
Type=Application
Name=WeRsyncing
Comment=Managed rsync connections
Exec=wersyncing
TryExec=wersyncing
Icon=rsync-app
Categories=Utility;FileTools;Qt;
Terminal=false
StartupNotify=true
