[Desktop Entry]
Type=Application
Name=WeRSynking
Comment=Managed rsync connections
Exec=wersynking
TryExec=wersynking
Icon=rsync-app
Categories=Utility;FileTools;Qt;
Terminal=false
StartupNotify=true
